DataFrame과 리스트,딕셔너리,넘파이 ndarray 상호 변환

In [10]:
import numpy as np
import pandas as pd
col_name1=['col1']
list1=[1,2,3]
array1=np.array(list1)
print('array1 shape:',array1.shape)
df_list1=pd.DataFrame(list1,columns=col_name1)
print(df_list1)
#넘파이 ndarray를 이용해 DataFrame 생성
df_array1=pd.DataFrame(array1,columns=col_name1)
df_array1

array1 shape: (3,)
   col1
0     1
1     2
2     3

   col1
0     1
1     2
2     3

In [19]:
#3개의 컬럼명이 필요
col_name2=['col1','col2','col3']

#리스트
#2행x3열 형태의 리스트와 ndarray 생성한 뒤 이를 DataFrame으로 변환
list2=[[1,2,3],[11,21,31]]
array2=np.array(list2)
df_list2=pd.DataFrame(list2,columns=col_name2)
df_list2

   col1  col2  col3
0     1     2     3
1    11    21    31

In [20]:
#array
df_array2=pd.DataFrame(array2,columns=col_name2)
df_array2

   col1  col2  col3
0     1     2     3
1    11    21    31

In [21]:
#딕셔너리
#key는 문자열 칼럼명으로 매핑,value는 리스트 형 칼럼 데이터로 매핑
dict={'col1':[1,11],'col2':[2,22],'col3':[3,33]}
df_dict=pd.DataFrame(dict)
df_dict

   col1  col2  col3
0     1     2     3
1    11    22    33

DataFrame을 넘파이 ndarray,리스트,딕셔너리로 변환하기

In [25]:
#DataFrame을 ndarray 로 변환
array3=df_dict.values
array3

array([[ 1,  2,  3],
       [11, 22, 33]], dtype=int64)

In [24]:
#DataFrame을 리스트로 변환
list3=df_dict.values.tolist()
list3

[[1, 2, 3], [11, 22, 33]]

In [26]:
#DataFrame을 딕셔너리로 변환
dict3=df_dict.to_dict('list')
dict3

{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}